<!-- Sticky Footer -->
<footer class="sticky-footer">
<hr />
  <div class="container my-auto">
	<div class="copyright text-center my-auto">
	  <span>Copyright © Hochschule Ulm 2018</span>
	  <span>&nbsp;&nbsp;&mdash;&nbsp;&nbsp;</span>
	  <a href="/logout">Logout</a>
	</div>
  </div>
</footer>