<!DOCTYPE html>
<html lang="en">

  <head>

    <% include ../partials/head.ejs %>

  </head>

  <body id="page-top">
  
  <a id="newBtn" class="btn" href="new_sensor">New Sensor</a>
    
  </body>

</html>
